# Hardhat
artifacts/
cache/
typechain/
typechain-types/
coverage/
coverage.json
.env
.env.*

# Foundry
out/
lib/
!lib/forge-std/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
pnpm-lock.yaml

# SDK
gravitas-sdk/dist/
gravitas-sdk/node_modules/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
