# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-lock.yaml

# Hardhat/Artifacts
cache/
artifacts/
typechain-types/

# Env / Keys
.env
.env.*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
